.navigator {
    background-color: #FEDC97;
    color: #282828;
    position: absolute;
    z-index: 10;
    overscroll-behavior: contain;
    overflow: hidden;
}

.navigator-small {
    width: 100px;
    /* height: 300px; */
    bottom: -250px;
    right: -50px;
    border-radius: 5px 0px 0px 0px;
    box-shadow: -2px -2px 10px 1px;
}

@media screen and (max-width: 500px) {
  .navigator-large {
    display: none;
  }
}

.navigator-large {
    width: 250px;
    height: 100px;
    left: -50px;
    top: -50px;
    border-radius: 0px 0px 5px 0px;
    box-shadow: 2px 2px 10px 1px;
}

@media screen and (min-width: 500px) {
  .navigator-small {
    display: none;
  }
}

.navigator-extended {
    bottom: -250px;
    animation: navigatorExtend 1s;
    animation-fill-mode: forwards;
}

.navigator-collapsed {
    bottom: -50px;
    animation: navigatorCollapse 1s;
    animation-fill-mode: forwards;
}

@keyframes navigatorExtend {
    from {
        transform: none;
    }
    to {
        transform: translate(0px, -200px);
    }
}

@keyframes navigatorCollapse {
    from {
        transform: none;
    }
    to {
        transform: translate(0px, 200px);
    }
}